---
http_interactions:
- request:
    method: get
    uri: https://www.smskdev.it/playsms/index.php?app=ws&op=get_token&p=VALID_PASS&u=VALID_USER
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","error":"0","token":"953cee476e898a3063239d1c8235b5c5","error_string":null,"timestamp":1460323129}'
  recorded_at: Sun, 10 Apr 2016 21:18:49 GMT
recorded_with: VCR 2.9.3
