---
http_interactions:
- request:
    method: get
    uri: https://www.smskdev.it/playsms/index.php?app=ws&op=get_token&p=INVALID_PASS&u=INVALID_USER
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ERR","error":"100","error_string":"authentication failed","timestamp":1460322583}'
  recorded_at: Sun, 10 Apr 2016 21:09:43 GMT
recorded_with: VCR 2.9.3
