---
http_interactions:
- request:
    method: get
    uri: https://www.smskdev.it/playsms/index.php?app=ws&h=VALID_TOKEN&msg=Test%20message&op=pv&to=393271010101&type=text&u=VALID_USER&unicode=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"status":"OK","error":"0","smslog_id":"1770487","queue":"c7ab86c37afe12889fefb060cfb59d33","to":"393271010101"}],"error_string":null,"timestamp":1460324703}'
  recorded_at: Sun, 10 Apr 2016 21:45:03 GMT
recorded_with: VCR 2.9.3
