---
http_interactions:
- request:
    method: get
    uri: https://www.smskdev.it/playsms/index.php?app=ws&h=VALID_TOKEN&op=ds&smslog_id=1770487&u=VALID_USER
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"smslog_id":"1770487","src":"God","dst":"393271010101","msg":"Test
        message","dt":"2016-04-10 22:45:04","update":"2016-04-10 22:45:06","status":"0"}],"error_string":null,"timestamp":1460325671}'
  recorded_at: Sun, 10 Apr 2016 22:01:11 GMT
recorded_with: VCR 2.9.3
